@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

@import "tailwindcss";

@theme {
  --color-primary: #1A5EAB;
  --color-secondary: #FE9D2B;
  --color-accent-100: #FCFBF8;
  --color-accent-300: #EEEEEE;
  --color-accent-500: #707070;
  --color-background: #F6F5F2;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font: "Lexend", sans-serif;
}

body {
  font-family: var(--font);
}

p {
  font-size: 1rem;
}

h4 {
  font-size: 1.5rem;
  line-height: 2rem;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.2rem;
}

h2 {
  font-size: 2.25rem; 
  line-height: 2.4rem;
}

h1 {
  font-size: 3rem;
  line-height: 3rem;
}

strong {
  font-size: 3.25rem;
  letter-spacing: -1px;
}

/* Breakpoint: 1024px */
@media screen and (min-width: 1024px) {
  p {
    font-size: 1.125rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 2.25rem;
  }

  h3 {
    font-size: 1.875rem;
    line-height: 2.4rem;
  }

  h2 {
    font-size: 2.25rem; 
    line-height: 2.8rem;
  }

  h1 {
    font-size: 4rem;
    line-height: 3.25rem;
  }

  strong {
    font-size: 4.5rem;
    line-height: 3.25rem;
    letter-spacing: -1.5px;
  }
}

/* Breakpoint: 1440px */
@media screen and (min-width: 1440px) {
  p {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  h3 {
    font-size: 2rem;
    line-height: 2.75rem;
  }

  h2 {
    font-size: 3.75rem; 
    line-height: 4.25rem;
  }

  h1 {
    font-size: 6.25rem;
    line-height: 6.75rem;
  }

  strong {
    font-size: 6.5rem;
    line-height: 7rem;
    letter-spacing: -2px;
  }
}
